version: "3.8"

services:
  service-fpm:
    build:
      context: ./
      dockerfile: .docker/php/Dockerfile
      target: dev-xdebug

  service-db:
    ports:
      - "50001:3306"

  service-web:
    ports:
      - "50000:80"